* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Koulen', cursive;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  color: black;
  border-top: 1rem double #545454;
  border-bottom: 1rem double #545454;
  font-size: 9vw;
  padding: 0 0.5em;
  margin-bottom: 10vw;
}

.indicators-and-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9em;
}
.coordinates,
.canvas-dimensions {
  color: #545454;
  display: flex;
  font-size: 4vw;
  font-weight: 100;
}
.coordinates {
  gap: 3em;
}
.canvas-dimensions {
  gap: 2em;
}
.buttons > * {
  background-color: #fc3768;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 2.15vw;
  margin: 0 0 0 1em;
  padding: 0.75em 0;
  width: 10em;
}

.canvas {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  max-width: 320px;
  margin: 4rem auto;
}
.canvas > * {
  background-color: white;
  width: 2rem;
  height: 2rem;
}

.tools-dock {
  background-color: white;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 1.3rem;
  padding: 4em 0;
  width: 90vw;
}
.tools-dock img {
  width: 8vw;
}
